<br /> 

<div class="booyah-box col-10 offset-1">
	<h1>Privacy Policy</h1>

	<p>
		We don't believe in Privacy Policies because YOLO. Seriously thou... I gave a solid attempt at adding a real Privacy Policie buuuuut once i was finished building it i had to sign up for a free trial and i lost all interest after that... Needless to say i will not use any information provided to do anything but what this website warrants. With that being said... Dont post sensitive information on this website and Do not actually pay for anything on this website. You've been warned. 
	</p>
</div>