<br /> 

<div class="booyah-box col-10 offset-1">
	<h1>Hello</h1>
	<p>
		This Flixter website has been brought to you by wambledom productions. It has been a very excited journey to get this far. This is my third web-application i have ever built but sadly i can't take all the credit. This journey of mine would of never been possible if it were not for Vanderbuilt Coding Bootcamp. If you would like to learn how to code in a facepaced, do it yourself kind of style then let me recommend them to you. Please check out there website at <a href="https://bootcamps.vanderbilt.edu/coding/online/landing/?s=Google-Unbranded&&71227573332_kwd-522405558131__342986678372_g_c___dc&pkw=vanderbilt%20coding%20boot%20camp&pcrid=342986678372&pmt=p&utm_source=google&utm_medium=cpc&utm_campaign=&utm_term=vanderbilt%20coding%20boot%20camp&utm_content=342986678372&s=google&k=vanderbilt%20coding%20boot%20camp&gclid=CjwKCAjw5dnmBRACEiwAmMYGOb8TUoKhVemdKpiOCi0D9Yco9YNwNX30FZN1OGY1PeDVClRWVb2kehoCf8EQAvD_BwE&gclsrc=aw.ds">Vanderbilt Coding Bootcamp.</a> This course has been very challenging and very rewarding at the same time. Its full of knowledge and will give you're blank canvas of coding a nice even foundation. Im very excited for the days to come and what doors i will open because of this chance. It's time to get with the times people and the world is evolving faster than most people think. There is too much code out there that needs to be written and just not enough coders. Join the War...the Code War. 
	</p>
<end>